body{
    font-family: roboto,sans-serif;
    margin:0px;
    padding:0px;
    line-height:1.6;
    box-sizing:border-box
    background-colour:#282c34;
    color:rg(29,27,27)
    font-size:18px;
}
header{
   background-color:orangered;
   color: #fff;
   padding:20px 0;
   text-align: center; 
}
nav ul{
    list-style:none;
    padding:0;
    display:flex;
    justify-content:center;
    margin:0;
}
nav ul li{
    margin: 0 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight:bold;
    transition:color 0.3s ease;
    font-size:1.5rem;
    padding:10px 15px)
}
 nav ul li a:hover{
    color: indianred;
 }
section{
  padding:50px 20px;
    text-align:centre;
}
#project,#about,#contact-me{
    max-width: 800px;
    margin: 20px auto
    ;
}
.project{
    background-colour:white;
    margine:20px autio;
    padding:20px;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1)
    transition:transform 0.3s ease-in-out
    display:flex;
    flex-direction:column;
       alighn-items:centre;
}
.project:hover{
    transform:translate Y (-5px)
}
form:{
    display:flex;
    flex-direction:column;
    gap:15px;m
    max-with:400px;
    margine:0auto;
}
input,textarea,button{
      width:100%;
    padding:10px;
    font-size:1rem;
    border:1px solid #ccc;
    border-radius:5px;
}
button{
    background-colour:#333;
    colour:white;
    curser:pointer;
    transition:background-colour 0.3s ese
    background-colour:#ff9800;
}
section h2{
    colour: #333;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    possition:absolute;
    bottom: 0;
    width: 100%;
}
nav ul li a :before{
    content:'';
    position:absolute
    left:0;
    bottom:0;
    height:2px; 
    width:0;
    background:#ff9800;
    transition:width 0.3s ese-in-out;
}
width:100%;{
    @media (max-width:768px{
    nav ul
    }
flex-direction:column;
}
project{
    text-align:centre;
}}
